<!DOCTYPE html>
<html>
  <head>
    <title><%= article.title %></title>
    <link rel='stylesheet' href='/css/app.css' />
    <link rel='stylesheet' href='/css/fonts.css' />
    <link rel='stylesheet' href='/js/plugin/md/css/editormd.min.css' />
  </head>
  <body>
    <div class="wrapper">
      <% include ../admin/common/head %>
      <section class="main">
        <% include ../admin/common/navigation %>
        <main class="content">
          <div class="inner">
            <form action="" id="sForm">
                <input type="hidden" name="_id" value="<%= article._id %>">
            <div class="row">
              <label for="" class="label">标题</label>
              <div class="col-sm-4"><input type="text" name="title" value="<%= article.title %>" class="ipt"></div>
            </div>
            <div class="row"><label for="" class="label">关键字:
                <% for(var i=0; i<article.allTags.length; i++) { %>  
                    <span><%= article.allTags[i].tag %></span>          
                <% } %>  
                
              </label>
              <div><input type="text" name="tags" value="<%= article.tags %>" class="ipt"></div>
            </div>
            <div class="row"><label>专辑</label>
              <div style="display: inline-block">
                <select name="special" class="form-control">
                  <option value="1">专辑一</option>
                  <option value="1">专辑二</option>
                  <option value="1">专辑三</option>
                  <option value="1">专辑四</option>
                  <option value="1">专辑五</option>
                </select>
              </div>
            </div>
            <div class="row">
              <label>置顶</label>
              <div style="display: inline-block">
                <select name="top" class="form-control">
                  <option value="0">默认</option>
                  <option value="1">置顶</option>
                </select>
              </div>
            </div>
            <div id="editormd" style="min-height: 300px;">
              <textarea style="display:none;"><%= article.mdContent %></textarea>
            </div>
            <div class="row">
              <button id="submit" class="btn btn-primary">保存</button>
            </div>
            </form>

            <!-- 文件上传 -->
            <div id="actions" class="row">

              <div class="col-lg-7">
                <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn btn-success fileinput-button dz-clickable">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Add files...</span>
                </span>
                <button type="submit" class="btn btn-primary start">
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start upload</span>
                </button>
                <button type="reset" class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel upload</span>
                </button>
              </div>
        
              <div class="col-lg-5">
                <!-- The global file processing state -->
                <span class="fileupload-process">
                  <div id="total-progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                    <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress=""></div>
                  </div>
                </span>
              </div>
            </div>
            <!-- 文件显示 -->
            <div class="table table-striped files" id="previews">
              <div id="" class="file-row">
                <!-- This is used as the file preview template -->
                <div>
                    <span class="preview"><img data-dz-thumbnail=""></span>
                </div>
                <div>
                    <p class="name" data-dz-name=""></p>
                    <strong class="error text-danger" data-dz-errormessage=""></strong>
                </div>
                <div>
                    <p class="size" data-dz-size=""></p>
                    <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                      <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress=""></div>
                    </div>
                </div>
                <div>
                  <button class="btn btn-primary start">
                      <i class="glyphicon glyphicon-upload"></i>
                      <span>Start</span>
                  </button>
                  <button data-dz-remove="" class="btn btn-warning cancel">
                      <i class="glyphicon glyphicon-ban-circle"></i>
                      <span>Cancel</span>
                  </button>
                  <button data-dz-remove="" class="btn btn-danger delete">
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>Delete</span>
                  </button>
                </div>
              </div>
            </div>
            <!-- 文件上传 END-->

          </div>
        </main>
      </section>
    </div>
  </body>
  <script src="/js/plugin/jquery191.js"></script>
  <script src="/js/plugin/md/editormd.min.js"></script>
  <script src="/js/plugin/dropzone/dropzone.js"></script>
  <!-- http://www.dropzonejs.com/bootstrap.html -->
  <script type="text/javascript">
    var _global = {
      fn:{
        init: function (editor) {
          this.submit(editor);
          this.fileUpload();
        },
        submit: function(editor) {
              $("#submit").click(function () {
                var data = $("#sForm").serializeArray();
                data.push({name:"mdContent",value:editor.getMarkdown()})// 获取 Markdown 源码
                data.push({name:"content",value:editor.getHTML()})// 获取 html 源码
                console.log(data);
                $.ajax({
                  type: "PUT",
                  url: '/dashboard/article',
                  data: data,
                  success: function(ret){
                      console.log(JSON.stringify(ret));
                  }
                });
                return false;
              })
        },
        fileUpload: function() {
          // Get the template HTML and remove it from the doument
          var previewNode = document.querySelector("#template");
          previewNode.id = "";
          var previewTemplate = previewNode.parentNode.innerHTML;
          previewNode.parentNode.removeChild(previewNode);

          var myDropzone = new Dropzone(document.body, { // Make the whole body a dropzone
            url: "http://www.torrentplease.com/dropzone.php", // Set the url
            thumbnailWidth: 80,
            thumbnailHeight: 80,
            parallelUploads: 20,
            previewTemplate: previewTemplate,
            autoQueue: false, // Make sure the files aren't queued until manually added
            previewsContainer: "#previews", // Define the container to display the previews
            clickable: ".fileinput-button" // Define the element that should be used as click trigger to select files.
          });

          myDropzone.on("addedfile", function(file) {
            // Hookup the start button
            file.previewElement.querySelector(".start").onclick = function() { myDropzone.enqueueFile(file); };
          });

          // Update the total progress bar
          myDropzone.on("totaluploadprogress", function(progress) {
            document.querySelector("#total-progress .progress-bar").style.width = progress + "%";
          });

          myDropzone.on("sending", function(file) {
            // Show the total progress bar when upload starts
            document.querySelector("#total-progress").style.opacity = "1";
            // And disable the start button
            file.previewElement.querySelector(".start").setAttribute("disabled", "disabled");
          });

          // Hide the total progress bar when nothing's uploading anymore
          myDropzone.on("queuecomplete", function(progress) {
            document.querySelector("#total-progress").style.opacity = "0";
          });

          // Setup the buttons for all transfers
          // The "add files" button doesn't need to be setup because the config
          // `clickable` has already been specified.
          document.querySelector("#actions .start").onclick = function() {
            myDropzone.enqueueFiles(myDropzone.getFilesWithStatus(Dropzone.ADDED));
          };
          document.querySelector("#actions .cancel").onclick = function() {
            myDropzone.removeAllFiles(true);
          };

          // Now fake the file upload, since GitHub does not handle file uploads
          // and returns a 404

          var minSteps = 6,
              maxSteps = 60,
          timeBetweenSteps = 100,
          bytesPerStep = 100000;

          myDropzone.uploadFiles = function(files) {
            var self = this;

            for (var i = 0; i < files.length; i++) {

              var file = files[i];
              totalSteps = Math.round(Math.min(maxSteps, Math.max(minSteps, file.size / bytesPerStep)));

              for (var step = 0; step < totalSteps; step++) {
                var duration = timeBetweenSteps * (step + 1);
                setTimeout(function(file, totalSteps, step) {
                  return function() {
                    file.upload = {
                      progress: 100 * (step + 1) / totalSteps,
                      total: file.size,
                      bytesSent: (step + 1) * file.size / totalSteps
                    };

                    self.emit('uploadprogress', file, file.upload.progress, file.upload.bytesSent);
                    if (file.upload.progress == 100) {
                      file.status = Dropzone.SUCCESS;
                      self.emit("success", file, 'success', null);
                      self.emit("complete", file);
                      self.processQueue();
                    }
                  };
                }(file, totalSteps, step), duration);
              }
            }
          }

        }
      }
    }

    $(function() {
      var editor = editormd("editormd", {
        path : "/js/plugin/md/lib/", // Autoload modules mode, codemirror, marked... dependents libs path
        saveHTMLToTextarea : true
      });

      _global.fn.init(editor);
      /*
       // or
       var editor = editormd({
       id   : "editormd",
       path : "../lib/"
       });
       */
    });
  </script>
</html>
