
<!doctype html>
<html lang="en">
<%-include("./common/head",{seo:seo})%>
<body>
<% include ./common/menu %>
<div class="main">
    <div class="article-detail">
        <div class="head"><%- article.title %></div>
        <div class="content"><%- article.content %></div>
        <div class="footer">
            <i class="icon-icon_clock"></i><span><%= article.updateTime.toLocaleDateString() %></span>
            <i class="icon-icon_book"></i><span><%= article.visitors %></span>
                <% for(var j=0; j<article.tags.length; j++) { %>  
                    <tag>[<%=article.tags[j].tag %>]</tag>       
                <% } %>  
            </div>
        </div>
    </div>
</div>
<button class="go_top">返回顶部</button>  
<% include ./common/footer %>
</body>
</html>