<!DOCTYPE html>
<html>
  <%-include("./common/head",{seo:seo})%>
  <body>
  <% include ./common/menu %>

  <div class="main">
    <div class="article list">
      <ul>
        <% for(var i=0; i<data.length; i++) { %>  
        <li>
          <div class="article-body">
            <div class="article-head"><a href="/article/<%= data[i]._id %>"><%= data[i].title %></a></div>
            <div class="article-content">
              <p><%- data[i].content %></p>
            </div>
            <div class="article-footer">
              <i class="icon-icon_clock"></i><span><%= data[i].updateTime.toLocaleDateString() %></span>
              <i class="icon-icon_book"></i><span><%= data[i].visitors %></span>
              <% for(var j=0; j<data[i].tags.length; j++) { %>  
                  <tag>[<%=data[i].tags[j].tag %>]</tag>       
              <% } %>  
              
            </div>
          </div>
        </li>
        <% } %>  
      </ul>
      <div class="clear"></div>
      <%-include("./common/paginator",{paginator:paginator})%>
    </div>
  </div>

  <% include ./common/footer %>
  </body>
</html>
